@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --green:#017a6b;
    --light-green:#dffec5;
    --grey:#838383;
    --light-grey:#e2e0de;
    --white:#fff;
    --black:#000;

}

.container{
    min-height: 100vh;
    background: url('images/bg.jpg') no-repeat center;
    background-size:cover ;

}

.container .topfixed img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.topfixed{
    background-color: var(--green);
    color: var(--white);
    padding: 1rem .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.left,.right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#name{
    font-weight: 500;
    font-size: 1.5rem;
}

i{
    font-size: 1.2rem;
}

.bottomfixed{
    position: fixed;
    bottom: .5rem;
    width: 100%;
}

.bottomfixed .inputsection input{
    border-radius: 18px;
    padding: .9rem 0rem .9rem 3rem;
    background-color: white;
    outline-style: none;
    border: none;
    font-size: 1.3rem;
    caret-color: #017a6b;

}

.inputsection{
    display: flex;
    gap: 10px;
}

.inputsection input{
    flex-basis: 90%;
}

.inputsection button{
    background-color: #017a6b;
    color: var(--white);
    padding: .9rem;
    border-radius: 50%;
    outline-style: none;
    border: none;
}

#smile{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--grey);
    font-size: 1.8rem;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.righticons{
    position: absolute;
    right: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.righticons i{
    font-size: 1.6rem;
    color: var(--grey);
}

.righticons i{
    transition: .2s linear;
}

#sendbtn i{
    color: var(--white);
}


.messages{
    padding-top: 80px;
    height: calc(100vh - 55px);
    overflow-y:scroll ;
}


.send{
    max-width: 80%;
    width: fit-content;
    color: var(--black);
    background-color: var(--light-green);
    padding: 10px 15px;
    font-weight: 580;
    margin: 5px;
    float: right;
    clear: both;
    
}

.receive{
    max-width: 80%;
    width: fit-content;
    color: var(--black);
    background-color: var(--white);
    padding: 10px 15px;
    font-weight: 580;
    margin: 5px;
    float: left;
    clear: both;
    
}

